*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

header {
    user-select: none;
}

li {
    list-style: none;
}

a {
    z-index: 3;
    color: white;
    text-decoration: none;
}

.navbar {
    z-index: 3;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    z-index: 3;
    font-size: 2rem;
}

.nav-link {
    z-index: 3;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(150, 150, 150);
}

.hamburger {
    z-index: 3;
    display: none;
    cursor: pointer;
}

.bar {
    z-index: 3;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.6s ease-in-out;
    background-color: white;
}

@media(min-width:0) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(405deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-405deg);
    }

    .nav-menu {
        position:fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.7s;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-bar-button {
        cursor: pointer;
        border: none;
        font-family: Montserrat;
        font-size: 1.1rem;
        color: white;
        outline: none;
        background-color: rgba(0, 0, 0, 0);
        transition: 0.3s;
    }

    .nav-bar-button:hover {
        color: rgb(168, 168, 168);
    }

    .nav-menu.active {
        right: 0%;
        
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.7s ease-in-out;
    border-radius: 10px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    max-width: 80%;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    background-color: black;
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, .5);
    color: white;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 4;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#image-track {
    z-index: 3;
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; 
}
  
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    z-index: 1;
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
  }
  
  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }